{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Log in to your Grocery account</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <span>Grocery</span>
            </div>
            <form action="{% url 'login' %}" method="POST">
                {% if error %}
                    <div class="error-text">{{ error }}</div>
                {% endif %}
                {% csrf_token %}
                <input class="input-box" name="username" type="text" autocomplete="off" placeholder="Username" value="{{ username }}" />
                <input class="input-box" name="password" type="password" autocomplete="off" placeholder="Password" value="{{ password }}" />
                <button class="input-box button primary" type="submit">
                    <span>Log In</span>
                </button>
            </form>
            <div class="login-link">
                <span>Having trouble logging in?</span>
                <a href="{% url 'logintrouble' %}">Click here</a>
            </div>
            <div class="loginSignupSeperator">
                <hr class="line"/>
                <div class="textSeperator">
                </div>
            </div>
            <a class=" input-box button secondary alink" href="{% url 'signup' %}">
                <span>Sign Up</span>
            </a>
        </div>
        <script src="" async defer></script>
    </body>
</html>